[Desktop Entry]
Version=1.1
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-virtualbox-ova;application/x-virtualbox-ovf;application/vmware;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
TryExec=VBoxManage
X-KDE-Submenu=Create Virtual Machine
X-KDE-Submenu[af]=Skep 'n virtuele masjien
X-KDE-Submenu[ar]=قم بإنشاء آلة افتراضية
X-KDE-Submenu[az]=Virtual maşın yaradın
X-KDE-Submenu[be]=Стварыце віртуальную машыну
X-KDE-Submenu[bg]=Създайте виртуална машина
X-KDE-Submenu[bs]=Kreirajte virtuelnu mašinus
X-KDE-Submenu[cs]=Vytvořte virtuální stroj
X-KDE-Submenu[cy]=Creu peiriant rhithwir
X-KDE-Submenu[da]=Opret virtuel maskine
X-KDE-Submenu[de]=Erzeuge eine virtuelle Maschine
X-KDE-Submenu[el]=Δημιουργήστε μια εικονική μηχανή
X-KDE-Submenu[el]=Δημιουργία εικονικής μηχανής
X-KDE-Submenu[en]=Create a virtual machine
X-KDE-Submenu[es]=Crear una máquina virtual
X-KDE-Submenu[et]=Loo virtuaalne masin
X-KDE-Submenu[eu]=Sortu makina birtual bat
X-KDE-Submenu[fa]=ماشین مجازی ایجاد کنید
X-KDE-Submenu[fi]=Luo virtuaalikone
X-KDE-Submenu[fr]=Créer une machine virtuelle
X-KDE-Submenu[fy]=Meitsje firtuele masine
X-KDE-Submenu[ga]=Cruthaigh meaisín fíorúil
X-KDE-Submenu[gd]=Cruthaich inneal mas-fhìor
X-KDE-Submenu[he]=צור מכונה וירטואלית
X-KDE-Submenu[hi]=वर्चुअल मशीन बनाएं
X-KDE-Submenu[hr]=Napravite virtualni stroj
X-KDE-Submenu[hu]=Hozzon létre egy virtuális gépet
X-KDE-Submenu[hy]=Ստեղծեք վիրտուալ մեքենա
X-KDE-Submenu[id]=Buat mesin virtual
X-KDE-Submenu[is]=Búðu til sýndarvél
X-KDE-Submenu[it]=Crea una macchina virtuale
X-KDE-Submenu[ja]=仮想マシンを作成する
X-KDE-Submenu[ca]=Crea una màquina virtual
X-KDE-Submenu[ka]=შექმენით ვირტუალური მანქანა
X-KDE-Submenu[kk]=Виртуалды машина жасау
X-KDE-Submenu[km]=បង្កើតម៉ាស៊ីននិម្មិត
X-KDE-Submenu[ko]=가상 머신 생성
X-KDE-Submenu[ku]=Makîneya virtual biafirînin
X-KDE-Submenu[ky]=Виртуалдык машинаны түзүү
X-KDE-Submenu[la]=Rectum apparatus crea
X-KDE-Submenu[lt]=Sukurkite virtualią mašiną
X-KDE-Submenu[lv]=Izveidojiet virtuālo mašīnu
X-KDE-Submenu[mi]=Waihangahia te miihini mariko
X-KDE-Submenu[mk]=Направете виртуелна машина
X-KDE-Submenu[mn]=Виртуал машин үүсгэх
X-KDE-Submenu[mr]=आभासी मशीन तयार करा
X-KDE-Submenu[ms]=Buat mesin maya
X-KDE-Submenu[mt]=Oħloq magna virtwali
X-KDE-Submenu[ne]=भर्चुअल मेसिन सिर्जना गर्नुहोस्
X-KDE-Submenu[nl]=Virtuele machine maken
X-KDE-Submenu[no]=Lag en virtuell maskin
X-KDE-Submenu[pl]=Utwórz wirtualną maszynę
X-KDE-Submenu[pt]=Criar máquina virtual
X-KDE-Submenu[ps]=مجازی ماشین جوړ کړئ
X-KDE-Submenu[ro]=Creați o mașină virtuală
X-KDE-Submenu[ru]=Создать виртуальную машину
X-KDE-Submenu[sk]=Vytvorte virtuálny stroj
X-KDE-Submenu[sl]=Ustvarite virtualni stroj
X-KDE-Submenu[so]=Samee mashiinka farsamada
X-KDE-Submenu[sq]=Krijo një makinë virtuale
X-KDE-Submenu[sr]=Креирајте виртуелну машину
X-KDE-Submenu[su]=Jieun mesin virtual
X-KDE-Submenu[sv]=Skapa virtuell maskin
X-KDE-Submenu[sw]=Unda mashine ya mtandaoni
X-KDE-Submenu[tg]=Мошини виртуалӣ эҷод кунед
X-KDE-Submenu[th]=สร้างเครื่องเสมือน
X-KDE-Submenu[tk]=Vytvořte virtuální stroj
X-KDE-Submenu[tr]=Sanal makine oluşturun
X-KDE-Submenu[ug]=Vytvořte virtuální stroj
X-KDE-Submenu[uk]=Vytvořte virtuální stroj
X-KDE-Submenu[ur]=Virtual mashina yarating
X-KDE-Submenu[uz]=Virtual mashina yarating
X-KDE-Submenu[vi]=Tạo một máy ảo
X-KDE-Submenu[zh_CN]=创建虚拟机
X-KDE-Submenu[zh_TW]=創建虛擬機
X-KDE-Submenu[zu]=Dala umshini obonakalayo
#Icon=display-and-tower
#Icon=yast-bootloader
#Icon=media-playback-playing
Icon=view-presentation-symbolic
Actions=A_CreateVMfromExportedApplliance_VBox_Select;B_CreateVMfromExportedApplliance_VBox_Konsole;C_CreateVMfromExportedApplliance_VBox_Auto_Yes;X_Learn_About_CreateVMfromISO_VBox;

# DONE switch to vmmctl (with path)
# TODO switch to vmmctl (without path if command is in PATH)
# TODO replace fixed local path by automatic detection

[Desktop Action A_CreateVMfromExportedApplliance_VBox_Select]
Name=Import Appliance
Icon=view-presentation-symbolic
Exec=$HOME/.local/bin/vmmcon import %f

[Desktop Action C_CreateVMfromExportedApplliance_VBox_Auto_Yes]
Name=Import Appliance (Silent Running)
Icon=view-presentation-symbolic
Exec=$HOME/.local/bin/vmmcon create --auto-magic --yes --power-up %f

[Desktop Action B_CreateVMfromExportedApplliance_VBox_Konsole]
Name=Import Appliance (Konsole)
Icon=view-presentation-symbolic
Exec=SCRIPT="$HOME/.local/bin/vmmcon"; $(kreadconfig5 --file kdeglobals --group General --key TerminalApplication --default konsole) -e $SCRIPT import %f

[Desktop Action X_Learn_About_CreateVMfromISO_VBox]
Name=Learn more on all the bells and whistles
#Exec=xdg-open 'https://github.com/c-hartmann/' # runs on command line. not here
#Exec=kioclient exec 'https://github.com/c-hartmann/' # runs on command line. not here
# TODO reading docs on github page shold be a command:
#      opendocs/browsedocs/docs/doc/documentation?
Icon=internet-services
Exec=$HOME/.local/bin/vmmcon readdocs
