[Desktop Entry]
Icon=text-html
Name=https://ubuntu.com/server/docs/install/autoinstall-quickstart
Type=Link
URL[$e]=https://ubuntu.com/server/docs/install/autoinstall-quickstart
